.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919; 
  padding: 50px 0;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-text {
  color: #ffffff;
  width: 50%;
}

.hero-text h2 {
  font-size: 2rem;
  
}


.highlight {
  background: linear-gradient(to right, #007CF0, #00DFD8, #00DFD8, #FF0080);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image img {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 4px solid #ff0080;
}
