.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  background-color: #0d1117;
  color: #ffffff;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.projects-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #bbb;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.project-card {
  background: #161b22;
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  height: 480px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
  position: relative; /* Added for button positioning */
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  text-align: left;
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.project-info p {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 20px;
}

.project-links {
  position: absolute; /* Ensures it's fixed at the bottom */
  bottom: 20px;
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%);
}

.project-links a {
  font-size: 0.9rem;
  color: #1f78ff;
  text-decoration: none;
  border: 1px solid #1f78ff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.project-links a:hover {
  background: #1f78ff;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-section h2 {
    font-size: 2rem;
  }

  .projects-section p {
    font-size: 1rem;
  }

  .project-info h3 {
    font-size: 1.3rem;
  }

  .project-info p {
    font-size: 0.8rem;
  }

  .project-links a {
    font-size: 0.8rem;
    padding: 5px 8px;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .projects-section {
    padding: 42px 0px;
  }

  .projects-section h2 {
    font-size: 1.8rem;
  }

  .projects-section p {
    font-size: 0.9rem;
  }

  .projects-grid {
    gap: 15px;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .project-card {
    width: 100%;
    margin: 0px;
    height: 400px;

  }

  .project-image img {
    height: 150px;
  }

  .project-info h3 {
    font-size: 1.1rem;
  }

  .project-info p {
    font-size: 0.8rem;
  }

  .project-links a {
    font-size: 0.8rem;
    padding: 5px 8px;
  }
}
