.projects-section {
  text-align: center;
  background-color: #191919;
  color: #ffffff;
  padding: 50px 0;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin: 20px;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.project-tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(240, 19, 19, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-image {
  width: 100%;
  height: 50%;
  background-color: #555;
}
.project-image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 20px;
  flex: 1; 
}

.project-links {
  display: flex;
  justify-content: center;

}

.project-links a {
  color: #00dfd8;
  text-decoration: none;
}
