.tech-stack {
  text-align: center;
  background-color: #121212;

  color: #ffffff;
  padding: 50px 20px 50px 20px;

}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.icon-wrapper{
  padding: 10px;
}

.icons i {
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  cursor: pointer;
}

.icons i:hover {
  background-color: #CF1F1F;
  transform: scale(1.1);
}

.icons i::before {
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity 0.3s, transform 0.3s;
}

.icons i:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%) translateY(-20%);
}
