.Images-section {
  text-align: center;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 50px 0;
}

.solar-gallery-container {
  perspective: 1000px;
  width: 70%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.solar-gallery {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: solar-rotate 20s infinite linear;

}

.central-image {
  position: absolute;
  top: 62%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Make sure it stays on top */
  width: 200px; /* Adjust the size as needed */
  height: 300px;
}

.central-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.solar-gallery-item {
  position: absolute;
  width: 150px; /* Adjust size as needed */
  height: 225px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.solar-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

@keyframes solar-rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
