.footer {
  background-color: #191919;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.footer-info {
  text-align: right;
}

.footer-contact {
  margin: 0;
}

.footer-line {
  border: none;
  border-top: 2px solid #CF1F1F;
  margin: 20px 0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px; 
  padding: 5px 10px; 
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; 
}

.footer-links a:hover {
  background-color: #00dfd8; 
  color: #ffffff;
}

.footer-credit {
  margin: 0;
}

.footer-highlight {
  background: linear-gradient(to right, #c300ff, #cb25fd, #ff208f, #FF0080);
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .footer-header {
    flex-direction: column;
    text-align: center;
  }

  .footer-info {
    margin-top: 10px;
    text-align: center;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    margin-bottom: 10px;
  }

  .footer-links a {
    margin: 5px 0; 
    padding: 10px 15px; 
    font-size: 1rem;
  }
}
