.App {
  text-align: center;
  padding: 20px; 
  overflow: hidden;
}

.App-logo {
  height: 30vmin; 
  max-width: 100%; 
  pointer-events: none;
  background-color: #191919;
}


.App-header {
  background-color: #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); 
  color: white;
  padding: 20px; 
}

.App-link {
  color: #61dafb;
  text-decoration: none; 
}

.App-link:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
